/*
    Bebas Neue
*/


@font-face {
    font-family: BebasNeue;
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

.BebasNeue {
    font-family: 'BebasNeue', serif;
}


/*
    Monserrat
*/


@font-face {
    font-family: Monserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

.Monserrat{
    font-family: Monserrat, serif;
}

@font-face {
    font-family: Monserrat-Medium;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.Montserrat-Medium{
    font-family: Montserrat-Medium, serif;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

.Montserrat-SemiBold{
    font-family: Montserrat-SemiBold, serif;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

.Montserrat-Bold{
    font-family: Montserrat-Bold, serif;
}

@font-face {
    font-family: Montserrat-Black;
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

.Montserrat-Black{
    font-family: Montserrat-Black, serif;
}


/*
    Roboto
*/


@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.Roboto {
    font-family: Roboto, serif;
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

.Roboto-Thin {
    font-family: Roboto-Thin, serif;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

.Roboto {
    font-family: Roboto-Bold, serif;
}

